{{ block "index" . }}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FM-HTMX</title>
        <script src="https://unpkg.com/htmx.org@1.9.12"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        {{ template "form" . }}
        <hr>
        {{ template "display" . }}
    </body>
</html>

{{ end }}

{{ block "form" . }}
    <form hx-post="/contacts" hx-target="#contacts" hx-swap="outerHTML">
        name: <input type="text" name="name">
        email: <input type="email" name="email">
        <button type="submit">Create Contact</button>
    </form>
{{ end }}

{{ block "display" . }}
    <div id="contacts" style="display: flex; flex-direction: column;">
        {{ range .Contacts }}
            <div>
                Name: <span>{{ .Name }}</span>
                <br>
                Email: <span>{{ .Email }}</span>
            </div>
            <br>
        {{ end }}
    </div>
{{ end }}
